html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}


.admin_header {
    text-align: center;

    background: url('../img/ocean_cave.webp');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.admin_header__title {
    padding: 10rem;
    font-size: 50px;
    background: rgb(0, 0, 0, 0.2);
    color: white;
}

.text_editor {
    padding: 5rem;
}

.logout_btn {
    border: none;
    background: black;
    color: white;
    height: 4rem;
}

.submit_blog {
    padding: 5rem;
    width: 60%;
    margin: 0 auto;
}

.blog_title__input {
    font-size: 40px;
}

/* Create Blogs */
.create_blog__submit_btn {
    margin: 1rem 0;
    width: 100%;
    height: 5rem;
}

.textedit_editor {
    min-height: 20rem;
    background: #E9E9E9;
    padding: 1rem;
}

/* Admin Tags create and delete */
.admin_tags {

}

.create_tag_form {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.admin_create_tags {
    width: 80%;
    margin: 0 auto;
}

.tag_name__input {
    font-size: 20px;
}

.create_tag__btn {
    margin: 0.2rem 0;
    width: 100%;
}

.admin_modify_tags {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-height: 30rem;
    overflow: scroll;
    width: 80%;
    margin: 0 auto;
    overflow-x: hidden;
    justify-content: center;
}

.admin_single_tag {
    text-align: center;
    flex: 0 0 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem;
    min-width: 20%;
    justify-content: space-between;
    border-radius: 10px;
}

.admin_single_tag:hover {
    box-shadow: 0px 0px 15px #bdbdbd;
    transition: 0.3s ease;
}

.admin_single_tag__text {
    margin: 0 auto;
}

#delete_tag {
    color: #20959f;
    padding: 1rem;
    background: transparent;
    border: none;
    cursor: pointer;
    width: 50%;
    font-size: 20px;
    border-radius: 0 10px 10px 0;
}

#delete_tag:hover {
    background: #fd3f40;
    color: white;
    transition: 0.3s ease;
}

.modal_errors {
    color: red;
}

/* Update and Delete Blogs */
.admin_blogs {
    display: flex;
    flex-direction: column;
    max-height: 30rem;
    overflow: scroll;
    width: 80%;
    margin: 0 auto;
    overflow-x: hidden;
}

.admin_single_blog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    min-width: 80%;
    border-radius: 10px;
}

.admin_single_blog:hover {
    box-shadow: 0px 0px 15px #bdbdbd;
    transition: 0.3s ease;
}

.admin_single_blog__date {
    margin: 0 20px;
    color: #20959f;
    font-size: 11px;
}

.admin_single_blog__title {
    font-size: 20px;
}

.admin_single_blog__modify {
}

.admin_single_blog__modify_btn {
    color: #20959f;
    padding: 1rem;
    background: transparent;
    border: none;
    cursor: pointer;
    width: 50%;
    font-size: 20px;
}

.modify_blogs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#edit_blog:hover {
    background: #20959f;
    color: white;
    transition: 0.3s ease;
}

#delete_blog {
    border-radius: 0 10px 10px 0;
}

#delete_blog:hover {
    background: #fd3f40;
    color: white;
    transition: 0.3s ease;
}

/* Page switcher */
.page_switcher {
    display: flex;
    margin: 30px;
    font-size: 25px;
}

.page_switcher__btn {
    display: flex;
    align-items: center;
    padding: 10px;

    border: none;
    cursor: pointer;
    color: #20959f;
}

.page_switcher__btn:hover {
    color: white;
    background: #20959f;
    transition: 0.3s ease;
}

@media only screen and (max-width: 800px) {

    .submit_blog {
        padding: 1rem;
        width: 100%;
    }
    .admin_single_blog {
        flex-direction: column;
    }

    .admin_single_blog__date {
        margin: 20px;
        color: #20959f;
        font-size: 11px;
    }
    
    .admin_single_blog__modify {
        width: 100%;
    }
    

    #edit_blog{
        border-radius: 0 0 0 10px;
    }

    #delete_blog {
        border-radius: 0 0 10px 0;
    }

    .admin_modify_tags {
        flex-direction: column;
    }

    .create_tag_form {
        width: 100%;
    }
}