html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}


.admin_header {
    text-align: center;

    background: url('../img/ocean_cave.webp');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.admin_header__title {
    padding: 10rem;
    font-size: 50px;
    background: rgb(0, 0, 0, 0.2);
    color: white;
}

.text_editor {
    padding: 5rem;
}

.logout_btn {
    border: none;
    background: black;
    color: white;
    height: 4rem;
    width: 100%;
}

/* Page switcher */
.page_switcher {
    display: flex;
    margin: 30px;
    font-size: 25px;
}

.page_switcher__btn {
    display: flex;
    align-items: center;
    padding: 10px;

    border: none;
    cursor: pointer;
    color: #20959f;
}

.page_switcher__btn:hover {
    color: white;
    background: #20959f;
    transition: 0.3s ease;
}

/* Admin Parent */
.admin {
    display: flex;
    flex-direction: column;
}

/* Admin tabs */
.admin_tabs {
    margin: 0 2rem;
    justify-self: center;
    align-self: center;
    width: 80%;
}

@media only screen and (max-width: 800px) {

}