html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.intro {
    text-align: center;
    background: white;
    font-size: 40px;
    backdrop-filter: drop-shadow(0px 5px 10px gray);
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.home {
    background: url('../img/ocean_title.webp');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home__text {
    padding: 10rem;
    color: white;
    background: rgb(0, 0, 0, 0.2);
}

#my_name {
    font-family: 'Bree Serif';
    font-size: 80px;
    color: #9EF4F0;
}

#my_title {
    font-size: 60px;
}

.works {
    display: block;
    width: 100%;
}

.works_single {
    display: block;
                                
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}


.works_single__text {
    font-family: 'Reem Kufi';
    width: 100%;
    height: 30rem;
    background: rgb(0,0,0, 0.4);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 24px;
    text-transform: uppercase;
}

.works_single__text:hover {
    background: rgb(0,0,0, 0.8);
    color: white;
    transition: linear 100ms;

    animation-name: hoverWork;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes hoverWork {
    100% {
        margin: 3rem 0;
        padding: 50px 0;
    }
}

.works_single__text a {
    font-size: 17px;
    width: 100%;
    padding: 0.2rem;
    background: #F9F9F9;
    color: black;
    overflow: hidden;
    text-align: justify;
}

.works_single__text a:hover {
    color: #24e6dd;
}

.about {
    background: url('../img/ocean_about_me.webp');

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}

.about__text {
    font-size: 30px;
    text-align: right;
    width: 40%;
    color: white;
    padding: 5rem;
    background: rgb(0, 0, 0, 0.8);
}

.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__form {
    width: 60%;
}

.contact__submit_btn {
    background: black;
    width: 100%;
    border: none;
    height: 4rem;
}


/* -------------- */
/* --- FOOTER --- */
/* -------------- */
.footer {
    background: #303030;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 30px 0;
    color: white;
    padding: 0;
    font-size: 20px;
}

.footer h2 {
    padding: 1rem 0;
    color: white;
}

.footer__contact {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

.footer__social {
    grid-column: 4 / 5;
    flex-direction: column;
    display: flex;
    justify-content: baseline;
}

.footer__social_badges {
    display: flex;
    justify-content: center;
}

.footer__social_badge {
    font-size: 30px;
    margin: 0 0.5rem;
}

.footer__social_badge a:hover {
    color: white;
    transition: ease-in-out 500ms;
}

.footer__copyright {
    padding: 1rem 0;
    grid-column: 1 / 6;
    grid-row: 2 / 3;
    font-size: 12px;
    text-align: center;
  }
  
  

@media only screen and (max-width: 700px) { 

    .home__text {
        padding: 4rem 0;
        font-size: 25px;
    }

    #my_name {
        font-family: 'Bree Serif';
        font-size: 40px;
        color: #9EF4F0;
    }
    
    #my_title {
        font-size: 30px;
    }

    .works_single__text {
        width: 100%;
        height: 30rem;
    }

    .about {
        flex-direction: column;
    }

    .about__text {
        width: 100%;
    }
    
    .works_single__text a {
        border: none;
        border-radius: 0px;
        width: 100%;
    }

    .footer {
        grid-template-columns: 50% 50%;
        word-wrap: break-word;
    }

    .footer__contact {
        grid-column: 1 / 2;
        padding: 0 1rem;
    }
  
    .footer__social {
        grid-column: 2 / 3;
        padding: 0 1rem;
    }

}